html {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.clock-face {
    display: flex;
    justify-content: center;
    border: 30px solid lightcoral;
    height: 60vh;
    width: 50vw;
    border-radius: 50%;
}

.hour-hand {
    border: 5px solid black;
    height: 50%;
}

.minute-hand {
    border: 5px solid black;
    height: 50%;
}

.second-hand {
    border: 5px solid black;
    height: 50%;
}